<?xml version='1.0' encoding='utf-8'?>
<Server>
    <Service name="service1" reload="true">
        <Connector name="connector1" containerName="container1" port="8080">
            <Executor corePoolSize="128" maximumPoolSize="256"/>
        </Connector>
        <Container name="container1" connectorName="connector1"/>
    </Service>
    <Service name="service2" reload="true">
        <Connector name="connector2" containerName="container2" port="8181">
            <Executor corePoolSize="4" maximumPoolSize="32"/>
        </Connector>
        <Container name="container2" connectorName="connector2"/>
    </Service>
</Server>